# SQL Murder Mystery

## Can you find out whodunnit?

![A decorative illustration of a detective looking at an evidence board.](https://mystery.knightlab.com/174092-clue-illustration.png)

There's been a Murder in SQL City! The SQL Murder Mystery is designed to be both a self-directed lesson to learn SQL concepts and commands and a fun game for experienced SQL users to solve an intriguing crime.

## SQL sleuths start here

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a **​murder​**that occurred sometime on ​**Jan.15, 2018​** and that it took place in ​**SQL City​**. Start by retrieving the corresponding crime scene report from the police department’s database.

### Exploring the Database Structure

Experienced SQL users can often use database queries to infer the structure of a database. But each database system has different ways of managing this information. The SQL Murder Mystery is built using SQLite. Use this SQL command to find the tables in the Murder Mystery database.

Run this query to find the names of the tables in this database.

This command is specific to SQLite. For other databases, you'll have to learn their specific syntax.

In [2]:
%pip install pandas jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///sql-murder-mystery.db

Connecting to 'sqlite:///sql-murder-mystery.db'

In [5]:
%%sql
SELECT *
FROM sqlite_master
WHERE type = 'table';

Running query in 'sqlite:///sql-murder-mystery.db'

+-------+------------------------+------------------------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|  type |          name          |        tbl_name        | rootpage |                                                                                                            sql                                                                                                            |
+-------+------------------------+------------------------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| table |   crime_scene_report   |   crime_scene_report   |    2     |                                                                                             CREATE TABLE crime_scene_report (                                                                                             |
|       |                        |                        |          |                                                                                                           date integer,                                                                                                   |
|       |                        |                        |          |                                                                                                             type text,                                                                                                    |
|       |                        |                        |          |                                                                                                         description text,                                                                                                 |
|       |                        |                        |          |                                                                                                             city text                                                                                                     |
|       |                        |                        |          |                                                                                                               )                                                                                                           |
| table |    drivers_license     |    drivers_license     |    3     |                                                                                               CREATE TABLE drivers_license (                                                                                              |
|       |                        |                        |          |                                                                                                      id integer PRIMARY KEY,                                                                                              |
|       |                        |                        |          |                                                                                                            age integer,                                                                                                   |
|       |                        |                        |          |                                                                                                          height integer,                                                                                                  |
|       |                        |                        |          |                                                                                                          eye_color text,                                                                                                  |
|       |                        |                        |          |                                                                                                          hair_color text,                                                                                                 |
|       |                        |                        |          |                                                                                                            gender text,                                                                                                   |
|       |                        |                        |          |                                                                                                         plate_number text,                                                                                                |
|       |                        |                        |          |                                                                                                           car_make text,                                                                                                  |
|       |                        |                        |          |                                                                                                           car_model text                                                                                                  |
|       |                        |                        |          |                                                                                                               )                                                                                                           |
| table | facebook_event_checkin | facebook_event_checkin |    5     |                                                                                           CREATE TABLE facebook_event_checkin (                                                                                           |
|       |                        |                        |          |                                                                                                         person_id integer,                                                                                                |
|       |                        |                        |          |                                                                                                         event_id integer,                                                                                                 |
|       |                        |                        |          |                                                                                                          event_name text,                                                                                                 |
|       |                        |                        |          |                                                                                                           date integer,                                                                                                   |
|       |                        |                        |          |                                                                                           FOREIGN KEY (person_id) REFERENCES person(id)                                                                                   |
|       |                        |                        |          |                                                                                                               )                                                                                                           |
| table |       interview        |       interview        |    6     |                                                                                                  CREATE TABLE interview (                                                                                                 |
|       |                        |                        |          |                                                                                                         person_id integer,                                                                                                |
|       |                        |                        |          |                                                                                                          transcript text,                                                                                                 |
|       |                        |                        |          |                                                                                           FOREIGN KEY (person_id) REFERENCES person(id)                                                                                   |
|       |                        |                        |          |                                                                                                               )                                                                                                           |
| table |   get_fit_now_member   |   get_fit_now_member   |    7     |                                                                                             CREATE TABLE get_fit_now_member (                                                                                             |
|       |                        |                        |          |                                                                                                        id text PRIMARY KEY,                                                                                               |
|       |                        |                        |          |                                                                                                         person_id integer,                                                                                                |
|       |                        |                        |          |                                                                                                             name text,                                                                                                    |
|       |                        |                        |          |                                                                                                   membership_start_date integer,                                                                                          |
|       |                        |                        |          |                                                                                                      membership_status text,                                                                                              |
|       |                        |                        |          |                                                                                           FOREIGN KEY (person_id) REFERENCES person(id)                                                                                   |
|       |                        |                        |          |                                                                                                               )                                                                                                           |
| table |  get_fit_now_check_in  |  get_fit_now_check_in  |    9     |                                                                                            CREATE TABLE get_fit_now_check_in (                                                                                            |
|       |                        |                        |          |                                                                                                        membership_id text,                                                                                                |
|       |                        |                        |          |                                                                                                       check_in_date integer,                                                                                              |
|       |                        |                        |          |                                                                                                       check_in_time integer,                                                                                              |
|       |                        |                        |          |                                                                                                      check_out_time integer,                                                                                              |
|       |                        |                        |          |                                                                                   FOREIGN KEY (membership_id) REFERENCES get_fit_now_member(id)                                                                           |
|       |                        |                        |          |                                                                                                               )                                                                                                           |
| table |        solution        |        solution        |    11    |                                                                                                  CREATE TABLE solution (                                                                                                  |
|       |                        |                        |          |                                                                                                           user integer,                                                                                                   |
|       |                        |                        |          |                                                                                                             value text                                                                                                    |
|       |                        |                        |          |                                                                                                               )                                                                                                           |
| table |         income         |         income         |    10    |                                                                             CREATE TABLE income (ssn CHAR PRIMARY KEY, annual_income integer)                                                                             |
| table |         person         |         person         |    4     | CREATE TABLE person (id integer PRIMARY KEY, name text, license_id integer, address_number integer, address_street_name text, ssn CHAR REFERENCES income (ssn), FOREIGN KEY (license_id) REFERENCES drivers_license (id)) |
+-------+------------------------+------------------------+----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+


Besides knowing the table names, you need to know how each table is structured. The way this works is also dependent upon which database technology you use. Here's how you do it with SQLite.

Run this query to find the structure of the `crime_scene_report` table

Change the value of 'name' to see the structure of the other tables you learned about with the previous query.

In [6]:
%%sql
SELECT sql
FROM sqlite_master
where name = 'person'

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                            sql                                                                                                            |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| CREATE TABLE person (id integer PRIMARY KEY, name text, license_id integer, address_number integer, address_street_name text, ssn CHAR REFERENCES income (ssn), FOREIGN KEY (license_id) REFERENCES drivers_license (id)) |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [9]:
%%sql

SELECT *
FROM crime_scene_report
WHERE date = 20180115
AND type = 'murder'
AND city = 'SQL City';

Running query in 'sqlite:///sql-murder-mystery.db'

+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
|   date   |  type  |                                                                                        description                                                                                        |   city   |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
| 20180115 | murder | Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave". | SQL City |
+----------+--------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+

In [63]:
%%sql

SELECT name, address_number, address_street_name
FROM person
WHERE address_street_name = 'Franklin Ave'
AND name LIKE '%Annabel%';

Running query in 'sqlite:///sql-murder-mystery.db'

+----------------+----------------+---------------------+
|      name      | address_number | address_street_name |
+----------------+----------------+---------------------+
| Annabel Miller |      103       |     Franklin Ave    |
+----------------+----------------+---------------------+

In [21]:
%%sql

SELECT name, transcript
FROM person p JOIN interview i
ON p.id = i.person_id
WHERE name = 'Morty Schapiro' OR name = 'Annabel Miller';

Running query in 'sqlite:///sql-murder-mystery.db'

+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|      name      |                                                                                                            transcript                                                                                                           |
+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Morty Schapiro | I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W". |
| Annabel Miller |                                                      I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.                                                      |
+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [27]:
%%sql

SELECT name, membership_id, membership_status
FROM get_fit_now_member m JOIN get_fit_now_check_in c
ON m.id = c.membership_id
WHERE check_in_date = 20180109
AND membership_status = 'gold'
AND membership_id LIKE '48Z%';

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------+---------------+-------------------+
|      name     | membership_id | membership_status |
+---------------+---------------+-------------------+
|  Joe Germuska |     48Z7A     |        gold       |
| Jeremy Bowers |     48Z55     |        gold       |
+---------------+---------------+-------------------+

In [28]:
%%sql

SELECT name, plate_number
FROM person p JOIN drivers_license d
ON p.license_id = d.id
WHERE plate_number LIKE "%H42W%";

Running query in 'sqlite:///sql-murder-mystery.db'

+----------------+--------------+
|      name      | plate_number |
+----------------+--------------+
| Tushar Chandra |    4H42WR    |
| Jeremy Bowers  |    0H42W2    |
| Maxine Whitely |    H42W0X    |
+----------------+--------------+


### The rest is up to you!

If you're really comfortable with SQL, you can probably get it from here. To help, here is the schema diagram:

![schema diagram](schema.png)

Use your knowledge of the database schema and SQL commands to find out who committed the murder.
### Check your solution

Did you find the killer? When you think you know the answer, submit your suspect using the following code and find out if you're right.

In [56]:
%%sql
INSERT INTO solution VALUES (1, 'Miranda Priestly');
SELECT value FROM solution;

Running query in 'sqlite:///sql-murder-mystery.db'

1 rows affected.

+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                            value                                                                             |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne! |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [31]:
%%sql

SELECT name, transcript
FROM person p JOIN interview i
ON p.id = i.person_id
WHERE name = 'Jeremy Bowers';

Running query in 'sqlite:///sql-murder-mystery.db'

+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|      name     |                                                                                                                    transcript                                                                                                                    |
+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Jeremy Bowers | I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017. |
|               |                                                                                                                                                                                                                                                  |
+---------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [62]:
%%sql

SELECT name, height, hair_color, gender, car_make, car_model
FROM person p JOIN drivers_license d
ON p.license_id = d.id
WHERE height IN (65, 66, 67)
AND hair_color = 'red'
AND gender = 'female'
AND car_make = 'Tesla'
AND car_model = 'Model S';

Running query in 'sqlite:///sql-murder-mystery.db'

+------------------+--------+------------+--------+----------+-----------+
|       name       | height | hair_color | gender | car_make | car_model |
+------------------+--------+------------+--------+----------+-----------+
|     Red Korb     |   65   |    red     | female |  Tesla   |  Model S  |
|  Regina George   |   66   |    red     | female |  Tesla   |  Model S  |
| Miranda Priestly |   66   |    red     | female |  Tesla   |  Model S  |
+------------------+--------+------------+--------+----------+-----------+

In [71]:
%%sql

WITH filtered as (
    SELECT name, event_name, date
FROM person p JOIN facebook_event_checkin f
ON p.id = f.person_id
WHERE event_name = 'SQL Symphony Concert'
AND date > 20171201 AND date < 20171231
)

SELECT name, COUNT(event_name) as event_count
FROM filtered
GROUP BY name
HAVING event_count = 3;

Running query in 'sqlite:///sql-murder-mystery.db'

+------------------+-------------+
|       name       | event_count |
+------------------+-------------+
|   Bryan Pardo    |      3      |
| Miranda Priestly |      3      |
+------------------+-------------+